<h1>Welcome to recipe box.</h1>

<div class="row container">
  <div class="col-xs-4">
    <h2>Find recipes by ingredient:</h2>
    <ul class="list-group">
      <% @ingredients.each do |ingredient| %>
        <li class="list-group-item"><a href="ingredients/<%= ingredient.id%>"> <%= ingredient.name() %> </a></li>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-4">
    <h2>Find recipes by category:</h2>

  </div>
  <div class="col-xs-4">
    <h2>Find a recipe by name:</h2>
    <ul class="list-group">
      <% @recipes.each do |recipe| %>
        <li class="list-group-item"><a href="recipes/<%= recipe.id%>"> <%= recipe.name() %> </a></li>
      <% end %>
    </ul>
    <!-- </div> -->


</div>
<div class="row container">
  <div class="col-xs-12">
    <h2>Add a new recipe:</h2>
    <form action="/recipes" method="post">
        <label for="name">Recipe Name:</label>
        <input type="text" name="name" id="name">
        <button class = "btn btn-primary" type="submit" name="button">Add Recipe</button>
    </form>
  </div>

</div>
