<h1>Recipes that use <%= @ingredient.name %>: </h1>
<div class="well">
  <ul class="list-group">
    <% @recipes.each do |recipe| %>
      <li class="list-group-item"><a href="/recipes/<%= recipe.id%>"> <%= recipe.name() %> </a>
      <% if recipe.rating > 0 %>
        <% counter = 0 %>
        <% rating_tags = "<span class='glyphicon glyphicon-star pull-right'></span>" %>
        <% until counter == recipe.rating do %>
          <% counter += 1 %>
          <%= rating_tags %>
        <% end %>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>
<a href="/" class="btn btn-default active" role="button">Home</a>
